.colorApp{
    background-color: #3F51B5;
}

#map{
    background-color: #9F9F9F;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 2px !important;
    padding: 0px !important;
}
/*ITEM PARA LA LISTA LATERAL DE REPORTES*/
.item-reporte{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 3px !important;
    padding: 1px !important;
}
.item-reporte:hover{
    background-color: #3F51B5 ;
    color: white;
}

.tabla-reportes-row:hover
{
    background-color: #90CAF9;
}

.tabla-reportes-row:active
{
    background-color: #9F9F9F;
}

.z-position-3
{
    position: absolute;
    z-index: 3;
}

.z-position-2
{
    position: relative;
    z-index: 2;
}

.z-position-1
{
    position: relative;
    z-index: 1;
}